node_modules/**/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

build/
.idea/
.nvm/
.watchmanconfig
yarn.lock
contracts-build/
migrations/3_deploy_test_contracts.js
